@import "../App.scss";

.header {
    height: 7rem;
    display: flex;
    justify-content: space-between;

    h1{
        @include h1();
        margin-left: 3rem;
    }

    &__content {
        display: flex;
        justify-content: flex-end;

        a {
            color: #384955;
            margin: 2rem;
            text-decoration: none;
            @include p();
            
            &:hover:after {
                content: "";
                display: block;
                border-bottom: 2.5px solid #A88096;
                margin: 0 auto;
                padding-top: 5px;
                animation: line 1s ease-out;
                text-align: center;
            }
        }
    }
}

@keyframes line {
    0% {
        width: 0%
    }

    100% {
        width: 100%;
    }
}