.info-section {
    display: flex;
    justify-content: center;

    &__content {
        background-color: #6A90AC;
        height: 20rem;
        width: 60rem;
        position: relative;
        top: -10rem;
    }
}